.App{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 
}

.Menu,.Quiz,.EndScreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: lightseagreen;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  
}

.Menu button{
height: 50px;
width: 300px;
font-size: 20px;
cursor: pointer;
border-radius: 10px;
}
.option button{
    background-color: rgb(250, 214, 96);
    height: 50px;
    width: 400px;
    flex-direction: column;
    display: flex;
    margin: 5px;
    border: 2px;
    border-radius:10px;
    cursor: pointer;
    border-color: black;
    }
 
        .option button:hover:active{
            background-color: rgb(140, 255, 0);
               }
         